body {
    background-color: black;
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
}

input {
    width: 100%;
    background-color: black;
    border: none;
    /*border-bottom: 1px solid white;*/
    color: gray;
    font-size: 3rem;
    font-weight: 400;
    padding: 10px 0;
}

input:focus {
    color: white;
    outline: none;
}

input::placeholder {
    color: gray;
    opacity: 1;
}

#submitButton {
    display: none;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Mostrar el botón en dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
    #submitButton {
        display: block;
        margin-top: 10px; 
    }
}

@keyframes zoomInFadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

.fade-out {
    animation: zoomInFadeOut 1s forwards;
}